/* Застосується до всіх абзаців на сторінці */
p {
  font-size: 24px;
}

/* Застосується до всіх посилань на сторінці */
a {
  text-decoration: none;
}
/* Застосується до всіх тегів з класом title */
.title {
  font-weight: 500;
}

/* Застосується до всіх тегів з класом text */
.text {
  color: brown;
  font-size: 18px;
}

/* Застосується до всіх тегів з класом link */
.link {
  text-decoration: none;