body {
  font-family: "Open Sans",
  sans-serif;
}

/*--скидує крапки в списку--*/
.list {
  list-style: none;
}

/*--скидує підкреслення посилань--*/
.link {
  text-decoration: none;
}

/*-- скачаний шрифт підключаєтся 
за допомогою цього тега 
  @font-face {
    font-family: font;
    src: url(./);
  }
-- */
/*-- атрибут пишеться так
[href]{
  color: green;
} всі посилання зеленого кольору
[href="https: //www.google.com.ua/"] {
  color: green;
} всі посилання на 
google зеленого кольору
-- */